{%extends "0 - base_layout.html"%}
{% from "support/_plot_helper.html" import render_comparison_plot_script%}
{%block title%}Main {%endblock%}
{%block content%}
  <header data-role="Header" class="main_header_container">
      <a href='https://www.unifi.it/changelang-eng.html' target="_blank" rel="noopener noreferrer">
          <img alt="logo" src="../static/images/logo_unifi.png" class="header-logo-image"/>
      </a>
      <a href='https://www.dief.unifi.it/vp-167-serg.html' target="_blank" rel="noopener noreferrer">
          <img alt="logo" src="../static/images/logoSERG.png" class="header-logo-image"/>
      </a>
  </header>
  <div class="content-class">
      <form action = "/upload" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "email" name = "email" />
         <input type = "submit"/>
      </form>
  </div>
{%endblock%}
