 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("css_images/power-plant-67538.jpg");
  background-position: 13.29% 40.26%;
  background-size: 115%;
  min-height: 333px;
}

.u-section-1 .u-group-1 {
  width: 1100px;
  min-height: 171px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-align: center;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-align: center;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  align-self: center;
  margin: 38px auto 0 263px;
  padding: 10px 43px;
}

.u-section-1 .u-btn-2 {
  text-align: center;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -49px auto 0 538px;
  padding: 10px 70px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 275px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 458px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 248px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 260px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 240px;
    margin-left: 118px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 201px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 272px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 230px;
}

.u-section-2 .u-form-1 {
  height: 128px;
  margin: 51px 100px 0 520px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -115px auto 0 100px;
}

.u-section-2 .u-text-2 {
  margin: 13px 781px 64px 100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 56px;
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -114px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 11px 725px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-left: 310px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 511px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 127px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -222px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-form-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -245px;
  }

  .u-section-2 .u-text-2 {
    margin: 13px 0 85px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 329px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 21px 793px 0 96px;
}

.u-section-3 .u-group-1 {
  width: 949px;
  min-height: 200px;
  height: auto;
  margin: 14px auto 55px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 589px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 425px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-3 .u-text-1 {
    width: 251px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 12px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 15px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}